.container {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.header__container {
    padding-top: 120px;
    padding-bottom: 90px;
    margin-left: auto;
    margin-right: auto;
}

.header__container-solutions {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2.5px;
    padding-top: 9px;
    padding-bottom: 93px;
    margin: 0;
}

.header__container-ansible {
    text-align: center;
    font-weight: 600;
    font-size: 82px;
    line-height: 1.17;
    margin: 0;
}

.header__feedback {
    display: flex;
    flex-direction: column;
    padding-top: 75px;
    padding-bottom: 75px;
}

.header__feedbackContainer {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.header__feedback-quote {
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
    width: 960px;
    box-sizing: content-box;
    margin-bottom: 0;
    border-top: 4px solid #000000;
    padding: 20px 0;
}

.header__feedback-quote_URL {
    color: #0056d3;
    text-decoration: none
}

.header__feedback-bottomLine {
    display: block;
    overflow: hidden;
    width: 960px;
    height: 60px;
    box-sizing: content-box;
    justify-self: flex-end;
}

.header__feedback-author {
    position: relative;
    width: 960px;
    height: 80px;
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
}

.header__feedback-author_pic {
    display: block;
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.header__feedback-author_name {
    line-height: 22px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 3px;
}

.header__feedback-author_proffesion {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1px;
    font-weight: 300;
    margin: 0;
}

.adjustments__container {
    padding-top: 150px;
    padding-bottom: 150px;
}

.adjsutments__header {
    font-size: 42px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
}

.adjustments__resolve {
    font-size: 24px;
    text-align: center;
    font-weight: 300;
    padding-bottom: 105px;
}

.adjustments__init, .adjustments__regular {
    display: flex;
    justify-content: center;
}

.adjustments__init_text-name, .adjustments__regular_text-name {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 24px;
}

.adjustments__init_text-description, .adjustments__regular_text-description {
    font-size: 18px;
    font-weight: 300;
    width: 400px;
    height: 108.8px;
}

.adjustments__init_button, .adjustments__regular_button {
    color: #ffffff;
    background-color: #14bae6;
    border-radius: 30px;
    height: 45px;
    font-size: 14px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    outline: none;
}

.adjustments__init_pic, .adjustments__regular_pic {
    display: block;
    width: 460px;
}

.separator {
    margin-bottom: 120px;
    width: 960px;
    display: block;
}